### 先整理了2019/9/1 ~ 11/20- (ID in range(231979739, 232539739, 1)，應有 560,000 篇，
#### 去除 重複ID的貼文。
#### 去除 所有無效的ID貼文。

In [1]:
#匯入套件
import pandas as pd

In [2]:
# 讀入 csv 文字檔
csv_file2 = "Dard_API_1220_part2.csv"
input_artical2 = pd.read_csv(csv_file2) 

csv_file3 = "Dard_API_1220_part3.csv"
input_artical3 = pd.read_csv(csv_file3) 

csv_file4 = "Dard_API_1220_part4.csv"
input_artical4 = pd.read_csv(csv_file4) 

csv_file5 = "Dard_API_1220_part5.csv"
input_artical5 = pd.read_csv(csv_file5)

C:\Users\Administrator\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Administrator\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (6,8,9,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#合併檔案
artical2_5 = pd.concat([input_artical2, input_artical3, input_artical4, input_artical5], sort=False)
artical2_5.sort_values(by=['id'], inplace=True, ascending=True)
artical2_5 = artical2_5.reset_index(drop=True)
print("合併爬蟲後的所有檔案 shape:", artical2_5.shape)

合併爬蟲後的所有檔案 shape: (980603, 44)

##### (ID in range(231979739, 232539739, 1)，應 < 560,000 篇

In [4]:
#去重覆ID的貼文
# keep first duplicate row
artical2_5 = artical2_5.drop_duplicates()
print("去重覆ID的貼文後 shape:", artical2_5.shape)

去重覆ID的貼文後 shape: (521498, 44)

In [5]:
#去除無效的貼文 ID
artical2_5 = artical2_5[pd.notnull(artical2_5['id'])]
artical2_5 = artical2_5.reset_index(drop=True)
print("去除無效的貼文ID後 shape:", artical2_5.shape)

去除無效的貼文ID後 shape: (381889, 44)

In [9]:
#存成utf8_sig格式的csv檔
artical2_5.to_csv("002_Dard_artical2_5.csv", encoding = "utf_8_sig")

In [10]:
#資料庫最早文章ID及時間
artical2_5[['id', 'createdAt']].head()

            id                 createdAt
0  231979739.0  2019-09-01T00:00:43.168Z
1  231979740.0  2019-09-01T00:02:08.991Z
2  231979741.0  2019-09-01T00:02:40.197Z
3  231979743.0  2019-09-01T00:05:27.739Z
4  231979744.0  2019-09-01T00:05:34.495Z

In [11]:
#資料庫最後文章ID及時間
artical2_5[['id', 'createdAt']].tail()

                 id                 createdAt
381884  232539733.0  2019-11-20T14:26:06.451Z
381885  232539734.0  2019-11-20T14:26:17.118Z
381886  232539735.0  2019-11-20T14:26:30.402Z
381887  232539737.0  2019-11-20T14:26:54.747Z
381888  232539738.0  2019-11-20T14:26:59.340Z